@skype:registry=https://www.myget.org/F/spool-sdk/auth/d2d18e05-8424-467c-9b5b-9194847fcf64/npm/
@skype:registry=https://skype.pkgs.visualstudio.com/_packaging/csc/npm/registry
@azure:registry=https://skype.pkgs.visualstudio.com/SCC/_packaging/tps2scc/npm/registry
registry=https://registry.npmjs.org/
scripts-prepend-node-path=true
